:root {
  --square-size: 40px;
  --gameboard-rows: 10;
  --gameboard-columns: 10;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

main {
  display: grid;
  justify-content: center;
  grid-template-columns: 50px min-content min-content 50px;
}

.square {
  box-sizing: border-box;
  background-color: black;
  border: 1px solid aqua;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(var(--gameboard-columns), var(--square-size));
  grid-template-rows: repeat(var(--gameboard-rows), var(--square-size));
  justify-content: center;
}
