:root {
  --square-size: 40px;
  --square-color: var(--bright-green);
  --gameboard-rows: 10;
  --gameboard-columns: 10;
  --bright-green: #5efc13;
  --deep-purple: #050d3e;
  --dark-purple: #320e8c;
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #3c89d9;
}

.main-menu-screen {
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-rows: min-content repeat(2, minmax(75px, 200px));
  grid-template-columns: 50%;
}

.header {
  text-align: center;
}

.settings {
  display: grid;
}

.ai-slider {
  height: 30px;
  width: 50px;
  background-color: var(--dark-purple);
  border-radius: 25px;
  display: flex;
  padding: 5px;
  justify-content: end;
  align-items: center;
}

.slider-circle {
  border-radius: 15px;
  height: 20px;
  width: 20px;
  background-color: var(--bright-green);
}

.slider-circle.off {
  background-color: var(--dark-purple);
}

.ai-slider.off {
  justify-content: start;
  background-color: var(--bright-green);
}

.vs-player-button,
.vs-computer-button {
  grid-row: 2/3;
  text-align: center;
  justify-self: center;
  border: none;
  color: var(--bright-green);
  font-size: 16px;
  font-weight: 700;
  font-kerning: auto;
  height: max(60px, 30%);
  padding: 0 20px 0 20px;
  width: max(225px, 70%);
  background-color: black;
  outline: var(--bright-green) solid 2px;
}
.vs-computer-button {
  grid-row: 3/4;
}

.game-is-live-screen {
  display: grid;
  justify-content: center;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content;
  column-gap: 15px;
}

.place-ships-screen {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, min-content);
}
/* style div.place so it overlaps one div that has .place-ships-button and one div with text that says place ship*/
.place-ships-button {
  /* width: 500px;
  height: 150px; */

  transform: skewX(-45deg) scaleY(cos(45deg));
}

div.square.selected {
  background-color: white;
}

main .announcements {
  grid-column: 1/3;
  text-align: center;
}
/* fix model ship square sizes */
.ships {
  --square-size: 20px;
  display: grid;
  grid-template-columns: calc(var(--square-size) * 4);
  grid-template-rows: repeat(5, var(--square-size));
}

.model-ship-container {
  display: grid;
}

.model-ship-size-5 {
  grid-template-columns: repeat(5, var(--square-size));
}
.model-ship-size-4 {
  grid-template-columns: repeat(4, min-content);
}
.model-ship-size-3 {
  grid-template-columns: repeat(3, min-content);
}
.model-ship-size-2 {
  grid-template-columns: repeat(2, min-content);
}

div.sunk {
  background-color: var(--dark-purple);
}

.bow.vertical.square {
  border-top: 2px solid orange;
}

.stern.vertical.square {
  border-bottom: 2px solid orange;
}
.bow.horizontal.square {
  border-right: 2px solid orange;
}

.stern.horizontal.square {
  border-left: 2px solid orange;
}

.vertical.square {
  border: none;
  border-left: 2px solid orange;
  border-right: 2px solid orange;
}

.horizontal.square {
  border: none;
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
}

.square {
  background-color: black;
  border: 2px solid #5efc13;
}

.hit {
  background-color: red;
}

.miss {
  background-color: gray;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(var(--gameboard-columns), var(--square-size));
  grid-template-rows: repeat(var(--gameboard-rows), var(--square-size));
  justify-content: center;
}

.section {
  display: grid;
  grid-template-columns: min-content min-content;
}
