:root {
  --square-size: 40px;
  --gameboard-rows: 10;
  --gameboard-columns: 10;
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #3c89d9;
}

.header {
  text-align: center;
}

main {
  display: grid;
  justify-content: center;
  grid-template-columns: min-content min-content;
  column-gap: 15px;
}

.square {
  background-color: black;
  border: 2px solid #5efc13;
}

#player2 .square {
  border-color: #fe65fd;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(var(--gameboard-columns), var(--square-size));
  grid-template-rows: repeat(var(--gameboard-rows), var(--square-size));
  justify-content: center;
}
